rich==13.9.4
agentics==0.2.2
pydantic==2.10.4
crewai==0.100.0
crewai_tools==1.5.0
langchain-google-genai
cvxpy==1.7.3
gurobipy
numpy==1.26.4
pandas==2.2.2
mcp==1.2.0
python-dotenv==1.0.1
streamlit
pysqlite3-binary
