import sys
import os

# 1. Get the absolute path to the directory containing app.py
root_path = os.path.dirname(os.path.abspath(__file__))

# 2. Add the root to sys.path so 'import agentic_energy' works
if root_path not in sys.path:
    sys.path.insert(0, root_path)

# 3. Specifically add the agentic_energy folder itself 
# This helps if the code tries to import 'schemas' directly
ae_path = os.path.join(root_path, "agentic_energy")
if ae_path not in sys.path:
    sys.path.insert(0, ae_path)

agentics==0.2.2
crewai_tools==1.5.0
cvxpy==1.7.3
gymnasium==1.1.1
mcp==1.22.0
numpy==2.3.5
pandas==2.3.3
pydantic==2.12.4
python-dotenv==1.2.1
ray==2.50.0
torch==2.4.1

#cool way of generating requirements.txt
#pip install pipreqs
# pipreqs agentic_energy --force
